.interest__form--fields {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    border: 3px solid red;
    background-color: whitesmoke;
    margin-bottom: 30px;
}

.interests__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.interest__item {
    width: 25%;
    background-color: whitesmoke;
    border: 3px solid blue;
    padding: 10px;
}

.interest__item--place {
    font-size: 14pt;
}